<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/sudoku-master/Styling.css">
    <link rel="icon" href="/sudoku-master/Picture/sudoku-icon.jpg">
    <title>Sudoku</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="header-logo">
                <a href="trangchu.html">
                    <img src="/sudoku-master/Picture/logo.svg" id="logo">
                </a>
            </div>
            <div class="header-link">
                <a href="trangchu.html" class="new-game">Chơi mới</a>
                <a href="Huongdan.html" class="tutor">Hướng dẫn</a>
                <a href="Gioithieu.html" class="info">Giới thiệu</a>
            </div>
        </div>
    </header>
    <div class="gioithieu">
        <div class="content-introduce">
            <h1 class="title-introduce">GIỚI THIỆU VỀ GAME SUDOKU</h1>
            <img src="/sudoku-master/Picture/gioithieu01.jpg" alt="Trulli" width="650" height="534">
            <p >- Soduku-ban đầu có tên gọi là Number Place là một trò chơi câu đố sắp xếp chữ số dựa trên logic theo tổ
                hợp Mục tiêu của trò chơi là điền các chữ số vào một lưới 9×9 sao cho mỗi cột, mỗi hàng, và mỗi phần
                trong số chín lưới con 3×3 cấu tạo nên lưới chính (cũng gọi là "hộp", "khối", hoặc "vùng") đều chứa tất
                cả các chữ số từ 1 tới 9. Câu đố đã được hoàn thành một phần, người chơi phải giải tiếp bằng việc điền
                số. Mỗi câu đố được thiết lập tốt có một cách làm duy nhất.

                - Những bảng trò chơi đã được hoàn chỉnh luôn tạo thành một loại ma trận hình vuông Latinh với một điều
                kiện hạn chế được bổ sung về nội dung của từng khu vực lưới con. Ví dụ, mỗi số nguyên duy nhất sẽ có thể
                không xuất hiện hai lần trong cùng một hàng, cột hoặc bất kỳ một trong chín tiểu khu/lưới con 3×3 nào
                của bảng trò chơi 9x9.

                - Các tờ báo của Pháp đã mô tả các biến thể của những câu đố này trong thế kỷ 19, và loại câu đố này đã
                xuất hiện từ năm 1979 trong sách câu đố dưới cái tên Number Place.[5] Tuy nhiên, Sudoku hiện đại chỉ bắt
                đầu trở thành xu hướng chủ đạo vào năm 1986 bởi công ty phát hành trò chơi câu đố Nikoli, dưới cái tên
                Sudoku, nghĩa là "con số độc nhất".Trò chơi này xuất hiện lần đầu tiên trên một tờ báo của Hoa Kỳ,
                sau đó xuất hiện trên tờ The Times (Vương quốc Anh) vào năm 2004, từ những nỗ lực của Wayne Gould, người
                đã lập ra một chương trình máy tính để có thể nhanh chóng tạo ra những câu đố khác nhau.
            </p>
            <img src="/sudoku-master/Picture/gioithieu02.jpg" alt="Trulli" width="650" height="534">
            <p >- Sudoku là câu đố trí tuệ có hình dạng lưới 9x9, gồm những ô vuông nhỏ tạo thành một ô vuông
                lớn, mỗi 9 ô vuông nhỏ sẽ tạo thành một khối vuông 3x3, lần lượt ta có 9 khối vuông tạo thành một ô
                vuông
                lớn hoàn chỉnh. Nhiệm vụ của người chơi vô cùng đơn giản, điền các con số có một chữ số vào vị trí còn
                trống
                trên lưới.</p>
            <p >- Một lưới Sudoku sẽ được điền trước những con số ban đầu, là chìa khóa để người chơi điền thêm những chữ
                số
                tiếp theo. Khi đã hoàn thành lời giải, lưới Sudoku sẽ trở thành một ma trận hình vuông Latin, tuân theo
                quy
                luật: mỗi số nguyên duy nhất sẽ không xuất hiện hai lần trong cùng một hàng, cột hoặc bất kỳ một trong
                chín
                khối vuông 3×3 nào của bảng trò chơi 9x9.</p>
            <p >- Mang tên gọi đầu tiên là “Number Place” hay “Đặt số vào vị trí đúng”, trò chơi xuất phát từ nước Mỹ xa
                xôi.
                Được đăng trong những cuốn sách câu đố vào cuối thập niên 70 của thế kỷ 19, trò chơi chỉ thực sự trở
                thành
                xu thế khi được xuất bản dưới cái tên “Sudoku” bởi nhà phát hành trò chơi Nikoli, Nhật Bản vào năm 1989.
                Mang ý nghĩa “Con số duy nhất”, Sudoku phản ánh đúng lối suy nghĩ giải đố logic của trò chơi và đã thu
                hút
                sự chú ý của vị thẩm phán về hưu tên Wayne Gould. Một thời gian sau, ông đã đưa ra đề nghị đăng tải câu
                đố
                này lên tờ The Times danh tiếng của nước Anh, trở thành bệ phóng cho sự thịnh hành của Sudoku ngày nay
            </p>
        </div>
    </div>
</body>